<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Redmine.js</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="icon" type="image/png" href="assets/images/redmine_icon.png">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'/>

        <!-- inject:css -->
        <link rel="stylesheet" href="assets/app.min.css">
        <!-- endinject -->
    </head>

    <body ng-app="redmineApp" class="md-body-1" layout="row" ng-controller="MainController as ctrl" ng-cloak>
        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-tall md-whiteframe-z1" layout-padding layout-align="center center" ng-click="ctrl.closeSidenav()">
                <img class="sidenav-avatar" src="assets/images/redmine.png" />
                <h1 class="md-headline">Redmine.js</h1>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="item in ctrl.menu_items" ng-click="ctrl.go( item.link )">
                    <md-icon aria-label="{{ item.icon }}">{{ item.icon }}</md-icon>
                    <p>{{ item.title }}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
            <md-toolbar layout="row" class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                  <md-button class="md-icon-button menu" hide-gt-md ng-click="ctrl.toggleSidenav()" aria-label="Show Sidenav"
                             ng-if="!ctrl.page.showBackButton()">
                      <md-icon aria-label="Menu">menu</md-icon>
                  </md-button>
                  <md-button class="md-icon-button"
                             aria-label="Back"
                             ng-if="ctrl.page.showBackButton()"
                             ng-click="ctrl.page.backButton()">
                      <md-icon>arrow_back</md-icon>
                  </md-button>
                  <h2 class="md-title fill-height">{{ctrl.page.title()}}</h2>
                  <span flex></span>
                  <md-button class="md-icon-button"
                             aria-label="Open link"
                             ng-if="ctrl.page.getExtLink()"
                             ng-click="ctrl.page.openExtLink()">
                      <md-icon>open_in_new</md-icon>
                  </md-button>
                </div>
            </md-toolbar>

            <md-content id="content" ng-view flex md-scroll-y>
            </md-content>
        </div>

        <script src="cordova.js"></script>
        <!-- inject:js -->
        <script src="assets/app.min.js"></script>
        <!-- endinject -->

    </body>
</html>
