<md-progress-linear ng-if="ctrl.loading" class="md-warn" md-mode="indeterminate"></md-progress-linear>

<md-button app-scroll class="md-fab md-fab-bottom-right md-primary" aria-label="New issue" ng-click="ctrl.addIssue()">
    <md-tooltip>New issue</md-tooltip>
    <md-icon>add</md-icon>
</md-button>

<div ng-cloak layout-padding ng-show="ctrl.project">
    <h3 class="md-headline">
        <md-icon>store</md-icon>
        {{ctrl.project.name}}
    </h3>
</div>

<rm-issues-list list-title="Project issues" issues="ctrl.issues" total-count="ctrl.total_count"></rm-issues-list>

<div class="md-padding" ng-if="ctrl.errorLoading">
    <div class="md-warn">
        {{ctrl.errorMessage}}
    </div>
    <md-button class="md-warn" ng-click="ctrl.setup()">Retry</md-button>
</div>
