<md-progress-linear ng-if="ctrl.loading" class="md-warn" md-mode="indeterminate"></md-progress-linear>

<div ng-cloak layout-padding>
    <form novalidate name="editIssueForm" ng-submit="ctrl.submitIssueForm(editIssueForm)">
        <md-content layout layout-wrap layout-sm="column" ng-if="!ctrl.loading">
            <md-input-container ng-repeat="field in ctrl.issueFields"
                                flex="{{field.flex || 33}}"
                                ng-if="field.if === undefined || field.if">
                <!-- <img class="issue-user-avatar icon" ng-if="field.avatar()" ng-src="{{field.avatar()}}" />
                <md-icon class="icon" ng-if="field.avatar() === ''">person</md-icon> -->

                <label>{{::field.label}}</label>

                <input ng-if="!field.type"
                       ng-model="field.value"
                       name="field{{$index}}"
                       ng-required="field.required"
                       md-maxlength="250">

               <textarea ng-if="field.type === 'textarea'"
                      ng-model="field.value"
                      name="field{{$index}}"
                      ng-required="field.required"
                      ng-attr-autofocus="{{field.focus}}"></textarea>

                <md-select ng-if="field.type === 'select'"
                           ng-disabled="ctrl.isEmptyObject(field.choices())"
                           ng-model="field.value"
                           name="field{{$index}}"
                           ng-required="field.required">
                    <md-option ng-repeat="(id, name) in field.choices()"
                               value="{{::id}}">{{::name}}</md-option>
                </md-select>

                <div ng-messages="editIssueForm['field' + $index].$error">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="md-maxlength">This field has to be less than 250 characters long.</div>
                </div>
            </md-input-container>
        </md-content>

        <md-content>
            <md-input-container layout="row">
                <md-button type="submit" flex
                           ng-disabled="ctrl.loading || !editIssueForm.$dirty"
                           aria-label="Update issue"
                           class="md-primary md-raised">
                            Update
                </md-button>
                <md-button type="button" flex
                           ng-click="ctrl.cancelEdit()"
                           ng-disabled="crl.loading"
                           aria-label="Cancel edit issue"
                           class="md-raised">
                            Cancel
                </md-button>
            </md-input-container>
        </md-content>
    </form>
</div>
