<md-progress-linear ng-if="ctrl.loading" class="md-warn" md-mode="indeterminate"></md-progress-linear>

<div layout-padding ng-show="ctrl.issue">
    <h4 class="md-subhead">
        <md-icon ng-class="ctrl.issueIconClass">{{ctrl.issueIcon}}</md-icon>
        {{ctrl.issue.tracker.name}} #{{ctrl.issue.id}}
    </h4>
    <h3 class="md-headline">{{ctrl.issue.subject}}</h3>

    <div>
        <span class="issue-key">Author</span>
        <img class="issue-user-avatar" ng-if="ctrl.author.avatar" ng-src="{{ctrl.author.avatar}}" />
        {{ctrl.issue.author.name}}
    </div>
    <div class="issue-description" layout-padding>{{ctrl.issue.description}}</div>

    <br/>

    <table style="border: 0;">
        <tr ng-repeat="(key, item) in ctrl.issueItems">
            <td class="issue-key">{{key}}</td>
            <td>
                <img class="issue-user-avatar" ng-if="item.avatar" ng-src="{{item.avatar}}" />
                <span>{{item.name}}</span>
            </td>
        </tr>
    </table>

</div>
