<h3 class="md-subhead">History</h3>
<md-card ng-repeat="journal in ctrl.issue.journals">
    <md-card-content>
        <div layout="row" class="issue-user-line">
            <img class="avatar" ng-if="ctrl.getUserAvatar(journal.user)" ng-src="{{ctrl.getUserAvatar(journal.user)}}" />
            <md-icon ng-if="!ctrl.getUserAvatar(journal.user)">person</md-icon>
            <span>{{journal.user.name}}</span>
            <span flex></span>
            <span>{{journal.created_on | timeago}}</span>
        </div>
        <ul ng-if="journal.details.length > 0">
            <li ng-repeat="detail in journal.details" ng-bind-html="detail.text"></li>
        </ul>
        <div class="journal-notes" ng-if="journal.notes" ng-bind-html="journal.notes | textile"></div>
    </md-card-content>
</md-card>
